<meta charset="utf-8">
<meta name="msapplication-tap-highlight" content="no"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="{{default description pkg.description}}">
<meta name="author" content="{{ pkg.author.name }}">

<title>
  {{default title page.basename }} | {{ app.title }} | {{ pkg.version }}
</title>


<!-- Stylesheets -->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{assets}}/css/docs.theme.min.css">

<!-- Owl Stylesheets -->
<link rel="stylesheet" href="{{assets}}/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="{{assets}}/owlcarousel/assets/owl.theme.default.min.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ assets }}/ico/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="{{ assets }}/ico/favicon.png">
<link rel="shortcut icon" href="favicon.ico">
