<section id="hero">
	<div class="row">
		<div class="large-8 medium-8 columns">
			<h1>{{ lead }}</h1>
			<h4>{{ tagline }}</h4>
			<a href="https://github.com/OwlCarousel2/OwlCarousel2/archive/{{ pkg.version }}.zip" class="hero-button">Download</a>
			<a href="{{ pkg.homepage }}" class="hero-button outline">Github</a>
			<p>{{ pkg.version }}</p>
		</div>
		<div class="large-4 medium-4 columns">
			<img class="owl-logo" src="{{assets}}/img/owl-logo.png" alt="mr. Owl">
		</div>
	</div>
</section>
